.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
  background-color: yellow !important;
}

.table-bordered > tbody > tr > td,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > td,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > thead > tr > th {
  border: 1px solid black;
  max-width: 400px;
}
.table-striped > tbody > tr:nth-child(2n + 1) > td,
.table-striped > tbody > tr:nth-child(2n + 1) > th {
  background-color: rgb(118, 255, 246);
}

.table-wrapper {
  min-height: calc(100vh - 250px);
  max-height: calc(100vh - 250px);
  overflow-y: scroll;
}
